@content-width: 640px;

@cjk-fonts: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Noto Sans CJK SC";
@sans-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", @cjk-fonts, sans-serif;
@mono-fonts: "Menlo", "Monaco", "Consolas", @cjk-fonts, monospace;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Ropa Sans", @sans-fonts;
  font-size: 16px;
  line-height: 1.5;

  @media (max-width: @content-width) {
    font-size: 14px;
  }
}

body {
  word-wrap: break-word;
  font-variant-ligatures: common-ligatures;
  font-kerning: normal;
}

::selection {
  background-color: fade(#2196f3, 20%);
}

.clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.icon-base {
  direction: ltr;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

.icon {
  &:extend(.icon-base);

  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
}

.page {
  position: relative;
  overflow: hidden;
  padding: 0 2rem;

  @media (max-width: @content-width) {
    padding: 0 1rem;
  }
}

.banner {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 2rem;
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0 2px 4px fade(#000, 20%);

  @media (max-width: @content-width) {
    padding: 0 1rem;
  }

  ::selection {
    background-color: fade(#fff, 20%);
  }
}

.header {
  &:extend(.clearfix all);

  max-width: 1200px;
  margin: 0 auto;

  .logo {
    float: left;
    margin-left: -1rem;
  }

  .nav {
    float: right;
    margin-right: -1rem;
  }
}

.logo {
  float: left;
  margin: 0;
  font-size: 2rem;
  font-weight: 400;

  a {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: inherit;
  }

  img {
    display: block;
    height: 2.5rem;
  }
}

.nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    float: left;
  }

  a {
    position: relative;
    display: block;
    padding: 1.25rem 1rem;
    text-decoration: none;
    color: inherit;

    &::after {
      content: "";
      position: absolute;
      left: 0.5rem;
      right: 0.5rem;
      bottom: 0.5rem;
      border-bottom: 2px solid transparent;
      transition: border-color 200ms;
    }

    &:hover,
    &:active,
    &:focus {
      &::after {
        border-color: fade(#fff, 40%);
      }
    }

    &.active::after {
      border-color: fade(#fff, 80%);
    }
  }
}

.main {
  &:extend(.clearfix all);

  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 5.25rem;
}

.article {
  max-width: @content-width;
  margin: 3rem auto;
}

.content {
  margin: 3rem 0;
  font-family: "Source Sans Pro", @sans-fonts;
  line-height: 1.8;
  text-align: justify;
  color: fade(#000, 80%);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    color: #000;

    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 1.5rem;
    }
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5,
  h6 {
    font-size: 1em;
  }

  p,
  ul,
  ol,
  dl {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  ul,
  ol {
    padding-left: 2rem;
  }

  ul {
    list-style: square;
  }

  dl {
    dt {
      font-weight: 700;
    }

    dd {
      margin-left: 0;
      margin-bottom: 1.5rem;
    }
  }

  dl.oneline {
    @media (min-width: (@content-width + 1px)) {
      dt {
        float: left;
        clear: left;
        width: 8rem;
      }

      dd {
        overflow: hidden;
      }
    }
  }

  dl.small-title {
    dt {
      font-size: 0.75em;
      line-height: 2.4;
    }
  }

  small {
    font-size: 0.75em;
  }

  a {
    text-decoration: none;
    color: #ff3d00;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }

  code {
    font-family: "Source Code Pro", @mono-fonts;
    font-size: 0.875em;
  }

  pre {
    overflow-x: auto;
    overflow-y: hidden;
    margin: 3rem 0;
    border-radius: 2px;
    line-height: 1.5;
    background-color: #eceff1;
    box-shadow: inset 12px 0 0 -10px #cfd8dc;

    code {
      float: left;
      padding: 1.5rem;
    }

    a {
      color: inherit;
    }
  }

  blockquote {
    position: relative;
    margin: 1.5rem 0;
    padding-left: 2rem;

    &::before {
      &:extend(.icon);

      content: "format_quote";
      position: absolute;
      left: 0;
      top: 0;
      font-size: 1.5rem;
      color: #90a4ae;
      transform: rotate(180deg);
    }
  }

  sup,
  sub {
    font-size: 0.75em;
    color: fade(#000, 60%);
  }

  img {
    display: block;
    max-width: 100%;
    margin: 3rem auto;
    border-radius: 2px;
  }

  hr {
    margin: 3rem 0;
    border: 0;
    border-bottom: 1px solid fade(#000, 10%);
  }

  .footnote {
    &::before {
      content: "[";
    }

    &::after {
      content: "]";
    }
  }

  .footnotes {
    &:extend(.clearfix all);

    margin-top: 4rem;
    margin-bottom: -4rem;
    border-top: 1px solid fade(#000, 10%);
    font-size: 0.75em;

    ol {
      padding-left: 1.5rem;
    }

    p {
      margin: 0.5rem 0;
    }
  }
}

.meta {
  margin: 3rem 0;
  padding: 1.5rem 0;
  font-size: 0.875rem;
  border-top: 1px solid fade(#000, 10%);
  border-bottom: 1px solid fade(#000, 10%);
  color: fade(#000, 60%);

  &:empty {
    padding: 0;
    border-bottom: none;
  }

  .time {
    text-align: center;
  }
}

.article-list {
  max-width: @content-width;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  li {
    &:extend(.clearfix all);

    &:not(:last-child) {
      border-bottom: 1px solid fade(#000, 10%);
    }
  }

  .article {
    a {
      display: block;
      text-decoration: none;
      color: inherit;
    }

    h1 {
      margin: 0.5rem 0;
    }

    p {
      margin: 0.5rem 0;
      font-size: 0.875em;
      color: fade(#000, 60%);
    }
  }
}

.comments {
  max-width: @content-width;
  margin: 3rem auto;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.5rem 2rem;
  font-size: 0.75rem;
  text-align: center;
  color: fade(#000, 40%);
  background-color: #f5f5f5;

  @media (max-width: @content-width) {
    padding: 1.5rem 1rem;
  }
}

.footer p {
  margin: 0;
}
