*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Ropa Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Noto Sans CJK SC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
}
body {
  word-wrap: break-word;
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  -webkit-font-kerning: normal;
          font-kerning: normal;
}
::-moz-selection {
  background-color: rgba(33, 150, 243, 0.2);
}
::selection {
  background-color: rgba(33, 150, 243, 0.2);
}
.clearfix::before,
.clearfix::after,
.header::before,
.header::after,
.main::before,
.main::after,
.content .footnotes::before,
.content .footnotes::after {
  content: "";
  display: table;
}
.clearfix::after,
.header::after,
.main::after,
.content .footnotes::after {
  clear: both;
}
.icon-base,
.icon,
.content blockquote::before {
  direction: ltr;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}
.icon,
.content blockquote::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
}
.page {
  position: relative;
  overflow: hidden;
  padding: 0 2rem;
}
@media (max-width: 640px) {
  .page {
    padding: 0 1rem;
  }
}
.banner {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 2rem;
  color: #fff;
  background-color: #263238;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media (max-width: 640px) {
  .banner {
    padding: 0 1rem;
  }
}
.banner ::-moz-selection {
  background-color: rgba(255, 255, 255, 0.2);
}
.banner ::selection {
  background-color: rgba(255, 255, 255, 0.2);
}
.header {
  max-width: 1200px;
  margin: 0 auto;
}
.header .logo {
  float: left;
  margin-left: -1rem;
}
.header .nav {
  float: right;
  margin-right: -1rem;
}
.logo {
  float: left;
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
}
.logo a {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: inherit;
}
.logo img {
  display: block;
  height: 2.5rem;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav li {
  float: left;
}
.nav a {
  position: relative;
  display: block;
  padding: 1.25rem 1rem;
  text-decoration: none;
  color: inherit;
}
.nav a::after {
  content: "";
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 200ms;
  transition: border-color 200ms;
}
.nav a:hover::after,
.nav a:active::after,
.nav a:focus::after {
  border-color: rgba(255, 255, 255, 0.4);
}
.nav a.active::after {
  border-color: rgba(255, 255, 255, 0.8);
}
.main {
  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 5.25rem;
}
.article {
  max-width: 640px;
  margin: 3rem auto;
}
.content {
  margin: 3rem 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Noto Sans CJK SC", sans-serif;
  line-height: 1.8;
  text-align: justify;
  color: rgba(0, 0, 0, 0.8);
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  color: #000;
}
.content h1 + h1,
.content h2 + h1,
.content h3 + h1,
.content h4 + h1,
.content h5 + h1,
.content h6 + h1,
.content h1 + h2,
.content h2 + h2,
.content h3 + h2,
.content h4 + h2,
.content h5 + h2,
.content h6 + h2,
.content h1 + h3,
.content h2 + h3,
.content h3 + h3,
.content h4 + h3,
.content h5 + h3,
.content h6 + h3,
.content h1 + h4,
.content h2 + h4,
.content h3 + h4,
.content h4 + h4,
.content h5 + h4,
.content h6 + h4,
.content h1 + h5,
.content h2 + h5,
.content h3 + h5,
.content h4 + h5,
.content h5 + h5,
.content h6 + h5,
.content h1 + h6,
.content h2 + h6,
.content h3 + h6,
.content h4 + h6,
.content h5 + h6,
.content h6 + h6 {
  margin-top: 1.5rem;
}
.content h1 {
  font-size: 2em;
}
.content h2 {
  font-size: 1.75em;
}
.content h3 {
  font-size: 1.5em;
}
.content h4 {
  font-size: 1.25em;
}
.content h5,
.content h6 {
  font-size: 1em;
}
.content p,
.content ul,
.content ol,
.content dl {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.content ul,
.content ol {
  padding-left: 2rem;
}
.content ul {
  list-style: square;
}
.content dl dt {
  font-weight: 700;
}
.content dl dd {
  margin-left: 0;
  margin-bottom: 1.5rem;
}
@media (min-width: 640px) {
  .content dl.oneline dt {
    float: left;
    clear: left;
    width: 8rem;
  }
  .content dl.oneline dd {
    overflow: hidden;
  }
}
.content dl.small-title dt {
  font-size: 0.75em;
  line-height: 2.4;
}
.content small {
  font-size: 0.75em;
}
.content a {
  text-decoration: none;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
  color: #2196f3;
}
.content a:hover,
.content a:active,
.content a:focus {
  text-decoration: underline;
}
.content code {
  font-family: "Source Code Pro", "Menlo", "Monaco", "Consolas", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Noto Sans CJK SC", monospace;
  font-size: 0.875em;
}
.content pre {
  overflow-x: auto;
  overflow-y: hidden;
  margin: 1.5rem 0;
  padding: 1rem 1.5rem;
  line-height: 1.5;
  background-color: #eceff1;
}
.content pre a {
  color: inherit;
}
.content blockquote {
  position: relative;
  margin: 1.5rem 0;
  padding-left: 2rem;
}
.content blockquote::before {
  content: "format_quote";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  color: #90a4ae;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.content sup,
.content sub {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.6);
}
.content img {
  display: block;
  max-width: 100%;
  margin: 1.5rem auto;
}
.content iframe {
  display: block;
  margin: 1.5rem auto;
}
.content hr {
  margin: 3rem 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.content .footnote::before {
  content: "[";
}
.content .footnote::after {
  content: "]";
}
.content .footnotes {
  margin-top: 4rem;
  margin-bottom: -4rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0.75em;
}
.content .footnotes ol {
  padding-left: 1.5rem;
}
.content .footnotes p {
  margin: 0.5rem 0;
}
.meta {
  margin: 3rem 0;
  padding: 1.5rem 0;
  font-size: 0.875rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
}
.meta:empty {
  padding: 0;
  border-bottom: none;
}
.meta .time {
  text-align: center;
}
.article-list {
  max-width: 640px;
  margin: 3rem auto;
  padding: 0;
  list-style: none;
}
.article-list li:not(:last-child)::after {
  content: "";
  display: block;
  margin: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.article-list .article {
  margin: 0;
}
.article-list .article .content {
  margin: 0;
}
.article-list .article a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.article-list .article h1 {
  margin: 0;
}
.comments {
  max-width: 640px;
  margin: 3rem auto;
}
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.5rem 2rem;
  font-size: 0.75rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  background-color: #f5f5f5;
}
@media (max-width: 640px) {
  .footer {
    padding: 1.5rem 1rem;
  }
}
.footer p {
  margin: 0;
}
