*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Segoe WP", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", "Lantinghei SC", "Lantinghei TC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
  line-height: 1.5;
}

body {
  word-wrap: break-word;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  background-color: #1a237e;
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

pre, code {
  font-family: "Menlo", "Monaco", "Consolas", "Lantinghei SC", "Lantinghei TC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", monospace;
}

::-moz-selection {
  background-color: rgba(33, 150, 243, 0.2);
  text-shadow: none;
}

::selection {
  background-color: rgba(33, 150, 243, 0.2);
  text-shadow: none;
}

.page {
  padding: 40px;
}

.header {
  max-width: 600px;
  margin: 0 auto;
  margin-top: -40px;
  padding: 80px 0;
}

.header h1 {
  margin: 0;
  font-size: 3em;
  font-weight: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.nav {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10px;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav li {
  display: inline-block;
}

.nav li:not(:last-child)::after {
  content: " / ";
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.2);
}

.nav a {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  transition: color 200ms;
}

.nav a:hover,
.nav a:active,
.nav a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.article,
.comments {
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
  text-align: justify;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.article header {
  padding: 20px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.article header h1 {
  margin: 0;
  font-size: 2em;
  font-weight: normal;
}

.article .content {
  margin: 40px;
}

.content {
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.8);
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #000;
}

.content h2 {
  font-size: 1.8em;
}

.content h3 {
  font-size: 1.5em;
}

.content h4 {
  font-size: 1.2em;
}

.content h5,
.content h6 {
  font-size: 1em;
}

.content ul,
.content ol,
.content p {
  margin: 20px 0;
}

.content ul,
.content ol {
  padding-left: 40px;
}

.content ul {
  list-style: square;
}

.content a {
  text-decoration: none;
  color: #e91e63;
}

.content a:hover,
.content a:active,
.content a:focus {
  text-decoration: underline;
}

.content code {
  font-size: 0.9em;
}

.content pre {
  margin: 40px -40px;
  padding: 20px 40px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
  background-color: #424242;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.content pre code {
  display: block;
  font-size: 0.8em;
}

.content pre a {
  color: inherit;
}

.content :not(pre) code {
  margin: 0 3px;
}

.content blockquote {
  margin: 20px 0;
  padding: 0 40px;
  font-style: italic;
}

.content img {
  display: block;
  max-width: 100%;
  margin: 40px auto;
  background-color: #fafafa;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.content sup,
.content sub {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.6);
}

.content hr {
  margin: 40px -40px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.content .footnote::before {
  content: "[";
}

.content .footnote::after {
  content: "]";
}

.content .footnotes {
  margin: 0 -40px;
  margin-top: 40px;
  margin-bottom: -20px;
  padding: 0 40px;
  font-size: 0.9em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
}

.meta {
  padding: 20px 40px;
  font-size: 0.8em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
}

.meta::before,
.meta::after {
  content: "";
  display: table;
}

.meta::after {
  clear: both;
}

.meta .time {
  float: left;
}

.meta .link {
  float: right;
}

.meta .link a {
  text-decoration: none;
  color: #e91e63;
}

.meta .link a:hover,
.meta .link a:active,
.meta .link a:focus {
  text-decoration: underline;
}

.article-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 2px;
}

.article-list li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.article-list a {
  display: block;
  padding: 20px 40px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  transition: background-color 200ms;
}

.article-list a:hover,
.article-list a:active,
.article-list a:focus {
  background-color: #fafafa;
}

.article-list a:focus {
  outline: none;
}

.comments {
  margin-top: 40px;
  padding: 40px;
}

.comments a.link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  color: #e91e63;
}

.comments a.link:hover,
.comments a.link:active,
.comments a.link:focus {
  text-decoration: underline;
}

.comments .muut.m-app-loading {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.comments .muut.is-commenting {
  padding: 0 !important;
}

.comments .muut .m-page {
  padding-top: 0 !important;
}

.comments .muut #moot-logo {
  padding-bottom: 0 !important;
}

.comments .muut #mt-start,
.comments .muut #m-share {
  display: none !important;
}

.back {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  margin: 20px;
  border-radius: 100%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 200ms;
}

.back:hover,
.back:active,
.back:focus {
  color: rgba(255, 255, 255, 0.8);
}

.article .back .material-icons {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1em;
  height: 1em;
  margin: auto;
}
