<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/atom.xml" />
    <title>{% if page.title %}{{ page.title }} - {% endif %}IntPtr's Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
    <link rel="stylesheet" href="https://cdn.muut.com/1/moot.css" />
  </head>
  <body>
    <div class="page">
      <header class="header">
        <h1><a href="{{ site.baseurl }}/">IntPtr's Blog</a></h1>
        <nav class="nav">
          <ul>
            <li><a href="{{ site.baseurl }}/links.html">Links</a></li>
            <li><a href="{{ site.baseurl }}/books.html">Books</a></li>
            <li><a href="{{ site.baseurl }}/about.html">About</a></li>
          </ul>
        </nav>
      </header>
      {{ content }}
      <footer class="footer">
        <p>Licensed under CC BY-NC-SA 4.0 International.</p>
        <p>Copyright &copy; 2014-2016 IntPtr.</p>
      </footer>
    </div>
    <script src="https://cdn.muut.com/1/moot.min.js"></script>
  </body>
</html>
