<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/atom.xml" />
    <title>{% if page.title %}{{ page.title }} - {% endif %}IntPtr's Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
  </head>
  <body>
    <div class="page">
      <main>
        {{ content }}
      </main>
      <footer class="footer">
        <p>Designed by IntPtr. Copyright &copy; 2015 IntPtr.</p>
      </footer>
    </div>
  </body>
</html>
