---
layout: "default"
---

<article class="article">
  {% if page.title %}
    <header>
      <h1>{{ page.title }}</h1>
    </header>
  {% endif %}
  <div class="content">
    {{ content }}
  </div>
  <div class="meta">
    <div class="time">Posted on <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>.</div>
    <div class="link"><a href="{{ site.baseurl }}{{ page.url }}">#permalink</a></div>
  </div>
</article>
<a href="{{ site.baseurl }}/" class="back"><span class="material-icons">arrow_back</span></a>
